.gamearea{
    height: 100%;
    transform-style:preserve-3d;
    overflow: hidden;
}
.fullheight{
    height: 100%;
}
.game{
    /*background: url(bg.jpg) no-repeat;*/
    border: 1px solid #ddd;
}

.box{
    transform:perspective(800px) rotatex(30deg);
    width: 400px;
    height:400px;
    margin: 0px auto 20px auto;
    border-top: 1px solid #B25F27;
    border-left: 1px solid #B25F27;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.block{
    width: 49px;
    height: 49px;
    border-right:1px solid #B25F27;
    border-bottom:1px solid #B25F27;
    float: left;
    box-shadow: 0 0 4px #333 inset;  /*内阴影*/
    /*background:  url(cao.jpg);*/
    
}
.show{
    background:url(dilei.jpg) no-repeat;
}
.num{
    background: #ECD0A1;
    font-size: 18px;
    /*color: #fff;*/
    font-weight: bold;
    text-align: center;
    line-height: 49px;
}
.time{
    width: 50px;
    height: 50px;
    border: 1px solid red;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: "微软雅黑";
    position: absolute;
    right: 20px;
    top: 50px;
    background: url(shizhong.jpg) no-repeat;
    color: #fff;
}
.flagbox{
    width: 40px;
    height: 40px;
    padding: 5px;
    background: url(hongqi.jpg) no-repeat;
    border: 1px solid red;
    position: absolute;
    right: 20px;
    top: 120px;
    text-align:center;
    line-height: 50px;
    font-size: 20px;
    font-weight: bold;
    font-family: "微软雅黑";
    
}

.flag{
    background: url(hongqi.jpg) no-repeat;
}