#rankList{
  width:95%;
  border-radius:8px;
  border:3px #fb9605 solid; 
  display:block; 
  margin:10px auto; 
  background:#fff;
}
#myRank{
  display:block; 
  width:50%; 
  margin:0 auto; 
  height:30px; 
  line-height:30px; 
  color:#fff; 
  font-size:13px; 
  font-weight:bold; 
  background:#fb9605;
  border-radius:7px; 
  text-align:center; 
  margin-top:-17px;
}
#gdt{
  width:100%;
  overflow:auto;
}
.rank{
  border-bottom:1px #e4e4e4 solid; 
  overflow:hidden; 
  margin:5px auto; 
  padding-bottom:5px;
}
.rank span{
  height:40px; 
  line-height:40px; 
  float:left; 
  text-align:center;
}
.column1{ 
  width:15%; 
  font-size:18px; 
}
.column1[title="1"]{ 
  color:#fff; 
  background:url(images/r1.png) no-repeat; 
  background-position-x:center; 
  background-position-y:200%; 
  background-size: auto 95%;}
.column1[title="2"]{ 
  color:#fff; 
  background:url(images/r2.png) no-repeat; 
  background-position-x:center; 
  background-position-y:200%; 
  background-size: auto 95%;}
.column1[title="3"]{ 
  color:#fff; 
  background:url(images/r3.png) no-repeat; 
  background-position-x:center; 
  background-position-y:200%; 
  background-size: auto 95%;
}
.column2{
  width:20%;
}
.column2 img{
  border-radius:50%;
}
.column3{
  width:45%; 
  font-size:14px; 
}
.column4{
  width:20%; 
  font-size:18px;
}
#rankList a{
  display:inline-block; 
  width:30%; 
  margin:0 auto; 
  height:40px; 
  line-height:40px; 
  color:#fff; 
  font-size:13px; 
  font-weight:bold; 
  background:#fb9605;
  border-radius:7px;
  text-align:center;
}
#rankList .buttons{
  display:block; 
  text-align:center; 
  margin-bottom:-22px
}